/*!
 * Start Bootstrap - Resume v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */

body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

.subheading {
  text-transform: none;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; }
.subheading #none{
  /* text-transform: lowercase !important; */
}
.list-social-icons a {
  color: #495057; }
  .list-social-icons a:hover {
    color: #BD5D38; }
  .list-social-icons a .fa-lg {
    font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #BD5D38; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

.bg-primary {
  background-color: #BD5D38 !important; }

.text-primary {
  color: #BD5D38 !important; }
a {
  color: #BD5D38; }
a:hover, a:focus, a:active {
  color: #824027; 
}
.resume-section .my-auto .col-lg-7 .php-email-form .text-center button{
  border: 1px solid #fff;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .resume-section .my-auto .col-lg-7 .php-email-form .text-center button{
    border: 1px solid #fff;
    border-radius: 30px;
    width: 100%;
    margin-left: 0;
  }
  .container .row  .col-sm-2 button{
    width: 100%;
    margin-left: 0;
    margin: 5px;
  }
  .container .row  .col-sm-2 button .text-center {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
}
button{
  background-color: #BD5D38;
  color: white;
  border: 1px solid #BD5D38;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}

button:hover{
  background-color: #f1ece3a6;
  color: #BD5D38;
  outline: none;
}

.row .col-sm-2 a{
  color: #fff;
  text-align: center;
  width: 200px;

}
.row .col-sm-2 a:hover{
  color: #BD5D38;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.row .col-sm-2 button{
  width: 350px;
  height: 50px;
  margin-left: 20px;
  outline: none;
}

.btn-outline-danger{
  padding-left: 0;
}

.mt-5 .table .btn{
  padding-right: 0px
}

.container .row input {
  border: rgb(230, 228, 228);
  border-bottom: 2px solid gray!important;
  border-right: 2px solid gray!important;
  /* background-color: yellow; */
}